link(rel='stylesheet', href='/stylesheets/header.css')
div.mainMenu
    nav.homeMenu
        ul.homeMenu
            if (user)
                li(class='navHome')
                    // should open smart Menu
                    a(class= 'homeMenuA' href='/') Menu
                    div.workMenu
                        ul.workMenu
                            li.workMenuDocs
                                a(class='workMenu' href='/documents') Documents
                            li.workMenuLibs
                                a(class='workMenu' href='/libraries') Libraries
                            li.workMenuReports
                                a(class='workMenu' href='/reports') Reports
                li(class='navHome')
                    // should open page with the list of Departments
                    a(class= 'changeDep' href="/changeDepartment") Valitud asutus:#{user.asutus}
            else
                li(class='navHome')
                    // different href and anchor text
                    a(class= 'homeMenuA' href='/') Menu


    nav.loginMenu
        ul
            if !user
                li.login
                    a(href='/login') Login
            else
                li.logout
                    a(href='/logout') Logout
if user
    div.userData
        span #{user.userName + '@'+user.asutus+ 'last login:'+user.lastLogin}
