doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="/vendor/react.min.js")
    script(type="text/javascript" src="/vendor/react-dom.min.js")
    script(type="text/javascript" src="/vendor/browser.min.js")
    script( type="text/javascript" src="/vendor/jquery.min.js")
  include header
    //script(type="text/babel" src="javascripts/layout.jsx")

  body
    h3 layout
    div#kasutaja
  block content
