doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="/vendor/react.development.js")
    script(type="text/javascript" src="/vendor/react-dom.development.js")
    script(type="text/javascript" src="/vendor/browser.min.js")
    script( type="text/javascript" src="/vendor/jquery.min.js")
  //include header
    //script(type="text/babel" src="javascripts/layout.jsx")

  body
    //input(type="hidden", name="_csrf", value="#{csrf}")
    div#kasutaja
  block content
