extends layout
block content
    link(rel='stylesheet', href='/stylesheets/login.css')
    h1= 'Вход'
    p= 'Введите имя пользователя и пароль'
    form(name="login-form", method="post")
        div.loginForm
            div.loginText
                label.labelName Имя
                input(type="text" name='username' )
            div.loginText
                label.labelPassword Пароль
                    input(type="password" name='password')
            div.loginSubmit
                input(type='submit', value='Войти' class='loginSubmit')

        label.labelErrorMessage #{errorMessage}
